<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd "
	default-lazy-init="true" xmlns:security="http://www.springframework.org/schema/security">    

    <security:global-method-security secured-annotations="enabled" />

    <security:http auto-config="true" access-decision-manager-ref="accessDecisionManager" access-denied-page="/content/common/authentication/access-denied.faces" >
 
        <security:intercept-url pattern="/index.faces*"  filters="none" /> 
        <security:intercept-url pattern="/content/common/**"  filters="none" /> 
        <security:intercept-url pattern="/content/components/**"  filters="none" /> 
        <security:intercept-url pattern="/content/css/**"  filters="none" /> 
        <security:intercept-url pattern="/content/imagenes/**"  filters="none" /> 
        <security:intercept-url pattern="/content/js/**"  filters="none" /> 
        <security:intercept-url pattern="/content/templates/**"  filters="none" /> 
        <security:intercept-url pattern="/content/themes/**"  filters="none" />

        <!-- EL MENU FUE COLOCADO PARA PRUEBAS DE ANEXOS QUITAR AL FINALIZAR-->
        <security:intercept-url pattern="/content/restricted/include/**" filters="none" />

        <security:intercept-url pattern="/content/restricted/vista/usuariosInt.faces**" access="ROLE_ADMIN, ROLE_USUARIO_MAESTRO,ROLE_COORDINADOR_RECEPCION" />
        <security:intercept-url pattern="/content/restricted/usuarios/**" access="ROLE_ADMIN, ROLE_USUARIO_MAESTRO, ROLE_COORDINADOR_RECEPCION" />
        <security:intercept-url pattern="/content/restricted/doc-preparacion/**" access="ROLE_ADMIN, ROLE_USUARIO_MAESTRO, ROLE_COORDINADOR_RECEPCION" />
        <security:intercept-url pattern="/content/restricted/generales/**" access="ROLE_ADMIN, ROLE_USUARIO_MAESTRO, ROLE_COORDINADOR_RECEPCION" />

        <security:form-login login-processing-url="/j_spring_security_check" login-page="/content/common/authentication/login.faces"
	default-target-url="/index.faces" authentication-failure-url="/content/common/authentication/loginerror.faces"
        always-use-default-target='true'/>
			
                        
        <security:logout logout-url="/logout"  logout-success-url="/index.faces" />
			
        <security:session-management invalid-session-url="/content/common/authentication/invalid-session.faces" />
		
        <security:remember-me key="changeit"/>        
    </security:http>

    
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="autenticacionService">
            <security:password-encoder hash="plaintext" />
        </security:authentication-provider>
    </security:authentication-manager>

	<!-- Configura el gestor de decisiones de autenticación. -->
    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<!-- Define los participantes en el proceso de autenticación: -->
        <property name="decisionVoters">
            <list>
                <ref bean="decisorDeRoles" />
                <ref bean="decisorDeAutenticacion" />
            </list>
        </property>
    </bean>
	
	<!-- Decisor de roles, necesario para tener nombres de roles personalizados PERFIL_-->
    <bean id="decisorDeRoles" class="org.springframework.security.access.vote.RoleVoter">
        <property name="rolePrefix" value="" />
    </bean>
	
    <bean id="decisorDeAutenticacion" class="org.springframework.security.access.vote.AuthenticatedVoter"/>
    <bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter" />
    
</beans>

