<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config />	
    <context:component-scan base-package="mx.gob.impi.rdu.exposition" />
    <context:component-scan base-package="mx.gob.impi.rdu.service" />  
	
	
<bean id="jndiTemplate"
                        class="org.springframework.jndi.JndiTemplate">
        <constructor-arg>
            <props>
                <prop key="java.naming.factory.initial">com.sun.enterprise.naming.SerialInitContextFactory</prop>
                <prop key="java.naming.factory.url.pkgs">com.sun.enterprise.naming</prop>
                <prop key="java.naming.factory.state">com.sun.corba.ee.impl.presentation.rmi.JNDI.StateFactoryImpl</prop>

                                    <!-- glassfish - Cuando el EJB se encuentra en otro servidor-->	
                                    <!-- No es necesario si está en el mismo servidor (war y ear)
                                    <prop key="org.omg.CORBA.ORBInitialHost">192.168.0.92</prop>				  
                                    <prop key="org.omg.CORBA.ORBInitialPort">3718</prop> -->								
            </props>
        </constructor-arg>
    </bean>
  
  
        
    <bean id="ejbRduUsuariosRemote" class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean">
        <property name="jndiName" value="EJBRduUsuarios#mx.gob.impi.rdu.remote.RduUsuariosBeanRemote" />
        <property name="businessInterface" value="mx.gob.impi.rdu.remote.RduUsuariosBeanRemote" />
        <property name="cacheHome" value="true" />
        <property name="lookupHomeOnStartup" value="true" />
        <property name="resourceRef" value="true" />
        <property name="homeInterface" value="mx.gob.impi.rdu.remote.RduUsuariosBeanRemote" />
        <property name="refreshHomeOnConnectFailure" value="true" />
        <property name="jndiTemplate"> 
            <ref bean="jndiTemplate"/>
        </property>
    </bean>
    <bean id="ejbRduCatalogosRemote" class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean">
        <property name="jndiName" value="EJBRduCatalogosBean#mx.gob.impi.rdu.remote.RduCatalogosBeanRemote" />
        <property name="businessInterface" value="mx.gob.impi.rdu.remote.RduCatalogosBeanRemote" />
        <property name="cacheHome" value="true" />
        <property name="lookupHomeOnStartup" value="true" />
        <property name="resourceRef" value="true" />
        <property name="homeInterface" value="mx.gob.impi.rdu.remote.RduCatalogosBeanRemote" />
        <property name="refreshHomeOnConnectFailure" value="true" />
        <property name="jndiTemplate">
            <ref bean="jndiTemplate"/>
        </property>
    </bean>
    <bean id="ejbRduFlujosGeneralesRemote" class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean">
        <property name="jndiName" value="EjbRduFlujosGenerales#mx.gob.impi.rdu.remote.RduFlujosGeneralesBeanRemote" />
        <property name="businessInterface" value="mx.gob.impi.rdu.remote.RduFlujosGeneralesBeanRemote" />
        <property name="cacheHome" value="true" />
        <property name="lookupHomeOnStartup" value="true" />
        <property name="resourceRef" value="true" />
        <property name="homeInterface" value="mx.gob.impi.rdu.remote.RduFlujosGeneralesBeanRemote" />
        <property name="refreshHomeOnConnectFailure" value="true" />
        <property name="jndiTemplate">
            <ref bean="jndiTemplate"/>
        </property>
    </bean>
    <bean id="ejbRduPatentesRemote" class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean">
        <property name="jndiName" value="EJBRduPatentesBean#mx.gob.impi.rdu.remote.RduPatentesBeanRemote" />
        <property name="businessInterface" value="mx.gob.impi.rdu.remote.RduPatentesBeanRemote" />
        <property name="cacheHome" value="true" />
        <property name="lookupHomeOnStartup" value="true" />
        <property name="resourceRef" value="true" />
        <property name="homeInterface" value="mx.gob.impi.rdu.remote.RduPatentesBeanRemote" />
        <property name="refreshHomeOnConnectFailure" value="true" />
        <property name="jndiTemplate">
            <ref bean="jndiTemplate"/>
        </property>
    </bean>
       

<!--    Configuracion del scope de jsf-->
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer" >
        <property name="scopes">
            <map>
                <entry key="view">
                    <bean class="mx.gob.impi.rdu.util.ViewScope"/>
                </entry>
            </map>
        </property>
    </bean>
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">	        
                <property name="defaultEncoding" value="UTF-8"/>
                <property name="host" value="webmail.impi.gob.mx"/>
                <!--<property name="username" value="rdu"/>
                <property name="password" value="ReDoUnProy13$"/>-->
	        <property name="javaMailProperties">
	            <props>
	                <!-- Use SMTP transport protocol -->
	                <prop key="mail.transport.protocol">smtp</prop>
                        <!--<prop key="mail.user">rdu</prop>
                        <prop key="mail.password">ReDoUnProy13$</prop>
                        <prop key="mail.smtp.user">rdu</prop>
                        <prop key="mail.smtp.password">ReDoUnProy13$</prop>-->
	                <!-- Use SMTP-AUTH to authenticate to SMTP server -->
	                <!--<prop key="mail.smtp.auth">true</prop>-->
	                <!-- Use TLS to encrypt communication with SMTP server -->
	                <prop key="mail.smtp.starttls.enable">false</prop>
	                <prop key="mail.debug">true</prop>
                        
	            </props>
	        </property>
    </bean>

                <bean id="alertMailMessage" class="org.springframework.mail.SimpleMailMessage">
	        <property name="from">           
	            <value>saul.rios.rico@gmail.com</value>
	        </property>
	        <property name="to">           
	            <value>saulchinaski@gmail.com</value>
	        </property>
	        <property name="subject" value="Alerta - Ocurrio un error. Revisar"/>
	    </bean>



</beans>
