<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.BitacoraErroresMapper" >
    <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.BitacoraErrores" >
        <id column="ID_ERROR" property="idError" jdbcType="DECIMAL" />
        <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
        <result column="FECHA_ERROR" property="fechaError" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select ID_ERROR, DESCRIPCION, FECHA_ERROR
    from BITACORA_ERRORES
    where ID_ERROR = #{idError,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from BITACORA_ERRORES
    where ID_ERROR = #{idError,jdbcType=DECIMAL}
    </delete>
    <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.rdu.persistence.model.BitacoraErrores" >
    update BITACORA_ERRORES
        <set >
            <if test="descripcion != null" >
        DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
            </if>
            <if test="fechaError != null" >
        FECHA_ERROR = #{fechaError,jdbcType=TIMESTAMP},
            </if>
        </set>
    where ID_ERROR = #{idError,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="mx.gob.impi.rdu.persistence.model.BitacoraErrores" >
    update BITACORA_ERRORES
    set DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      FECHA_ERROR = #{fechaError,jdbcType=TIMESTAMP}
    where ID_ERROR = #{idError,jdbcType=DECIMAL}
    </update>
    <select id="selectBitacora" resultMap="BaseResultMap" >
    select ID_ERROR, DESCRIPCION, FECHA_ERROR
    from BITACORA_ERRORES
    </select>
    <insert id="insertBitacora" parameterType="mx.gob.impi.rdu.persistence.model.BitacoraErrores" >
        <selectKey resultType="java.lang.Short" keyProperty="idError" order="AFTER">
        SELECT BITACORA_SEQ.currVal FROM DUAL
        </selectKey>
        insert into BITACORA_ERRORES (ID_ERROR, DESCRIPCION, FECHA_ERROR)
        values (BITACORA_SEQ.NEXTVAL, #{descripcion,jdbcType=VARCHAR}, SYSDATE)
    </insert>
</mapper>