<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.CatAnexosMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.CatAnexos" >
    <id column="ID_TIPOANEXO" property="idTipoanexo" jdbcType="DECIMAL" />
    <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
    <result column="EXTENSION" property="extension" jdbcType="VARCHAR" />
    <result column="IND_ACTIVO" property="indActivo" jdbcType="DECIMAL" />
  </resultMap>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,  ID_TIPOANEXO, DESCRIPCION, EXTENSION, IND_ACTIVO
    from CAT_ANEXOS
    where ID_TIPOANEXO = #{idTipoanexo,jdbcType=DECIMAL}
  </select>
  <select id="selectAnexos" resultMap="BaseResultMap" parameterType="mx.gob.impi.rdu.persistence.model.CatAnexos" >
    select  ID_TIPOANEXO, DESCRIPCION
    from    CAT_ANEXOS
    where   ID_TIPOANEXO in(15,16,43)
  </select>
  <select id="selectAnexosApoderado" resultMap="BaseResultMap" parameterType="mx.gob.impi.rdu.persistence.model.CatAnexos" >
    select   *
    from    CAT_ANEXOS
    where   ID_TIPOANEXO in(48,49,50,51,52) 
    ORDER BY ID_TIPOANEXO
    <!--48,49,50,51,52-->  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CAT_ANEXOS
    where ID_TIPOANEXO = #{idTipoanexo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="mx.gob.impi.rdu.persistence.model.CatAnexos" >
    insert into CAT_ANEXOS (ID_TIPOANEXO, DESCRIPCION, EXTENSION, 
      IND_ACTIVO)
    values (#{idTipoanexo,jdbcType=DECIMAL}, #{descripcion,jdbcType=VARCHAR}, #{extension,jdbcType=VARCHAR}, 
      #{indActivo,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="mx.gob.impi.rdu.persistence.model.CatAnexos" >
    insert into CAT_ANEXOS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idTipoanexo != null" >
        ID_TIPOANEXO,
      </if>
      <if test="descripcion != null" >
        DESCRIPCION,
      </if>
      <if test="extension != null" >
        EXTENSION,
      </if>
      <if test="indActivo != null" >
        IND_ACTIVO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idTipoanexo != null" >
        #{idTipoanexo,jdbcType=DECIMAL},
      </if>
      <if test="descripcion != null" >
        #{descripcion,jdbcType=VARCHAR},
      </if>
      <if test="extension != null" >
        #{extension,jdbcType=VARCHAR},
      </if>
      <if test="indActivo != null" >
        #{indActivo,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.rdu.persistence.model.CatAnexos" >
    update CAT_ANEXOS
    <set >
      <if test="descripcion != null" >
        DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      </if>
      <if test="extension != null" >
        EXTENSION = #{extension,jdbcType=VARCHAR},
      </if>
      <if test="indActivo != null" >
        IND_ACTIVO = #{indActivo,jdbcType=DECIMAL},
      </if>
    </set>
    where ID_TIPOANEXO = #{idTipoanexo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.rdu.persistence.model.CatAnexos" >
    update CAT_ANEXOS
    set DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      EXTENSION = #{extension,jdbcType=VARCHAR},
      IND_ACTIVO = #{indActivo,jdbcType=DECIMAL}
    where ID_TIPOANEXO = #{idTipoanexo,jdbcType=DECIMAL}
  </update>
</mapper>