<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.CatClasePersonaMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.CatClasePersona" >
    <id column="ID_CLASE_PERSONA" property="idClasePersona" jdbcType="DECIMAL" />
    <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select ID_CLASE_PERSONA, DESCRIPCION
    from CAT_CLASE_PERSONA
    where ID_CLASE_PERSONA = #{idClasePersona,jdbcType=DECIMAL}
  </select>
  <insert id="insert" parameterType="mx.gob.impi.rdu.persistence.model.CatClasePersona" >
    <selectKey resultType="java.lang.Short" keyProperty="idClasePersona" order="AFTER">
        SELECT CLASE_PERSONA_SEQ.currVal AS ID FROM DUAL
    </selectKey>
    insert into CAT_CLASE_PERSONA (ID_CLASE_PERSONA, DESCRIPCION)
    values (CLASE_PERSONA_SEQ.NEXTVAL, #{descripcion,jdbcType=VARCHAR})
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from CAT_CLASE_PERSONA
    where ID_CLASE_PERSONA = #{idClasePersona,jdbcType=DECIMAL}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.rdu.persistence.model.CatClasePersona" >
    update CAT_CLASE_PERSONA
    <set >
      <if test="descripcion != null" >
        DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_CLASE_PERSONA = #{idClasePersona,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.rdu.persistence.model.CatClasePersona" >
    update CAT_CLASE_PERSONA
    set DESCRIPCION = #{descripcion,jdbcType=VARCHAR}
    where ID_CLASE_PERSONA = #{idClasePersona,jdbcType=DECIMAL}
  </update>
</mapper>