<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.CatIdiomasMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.CatIdiomas" >
    <id column="ID_IDIOMAS" property="idIdiomas" jdbcType="DECIMAL" />
    <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
    <result column="IND_ACTIVO" property="indActivo" jdbcType="DECIMAL" />
  </resultMap>  
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID_IDIOMAS, DESCRIPCION, IND_ACTIVO
    from CAT_IDIOMAS
    where IND_ACTIVO=1
  </select> 
  
</mapper>