<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mx.gob.impi.rdu.persistence.mapper.CoordinacionEstatalMapper">
  <resultMap id="CoordinacionEstatalResultMap" type="mx.gob.impi.rdu.persistence.model.CoordinacionEstatal">
    <id column="id_coordinacion" property="idCoordinacion" jdbcType="VARCHAR"/>
    <result column="nombre" property="nombre" jdbcType="VARCHAR"/>
    <result column="id_entidad_federativa" property="idEntidadFederativa" jdbcType="SMALLINT"/>
    <result column="id_pais" property="idPais" jdbcType="BIGINT"/>
  </resultMap>
</mapper>
