<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.DocumentoArticuloMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.DocumentoArticulo" >
    <id column="ARTICULO_PAGO" property="articuloPago" jdbcType="VARCHAR" />
    <id column="ID_AREA" property="idArea" jdbcType="DECIMAL" />
    <id column="ID_TIPO_DOCUMENTO" property="idTipoDocumento" jdbcType="DECIMAL" />
    <id column="ID_TIPO_SOLICITUD" property="idTipoSolicitud" jdbcType="DECIMAL" />
    <id column="INCISO" property="inciso" jdbcType="VARCHAR" />
    <id column="SENTIDO" property="sentido" jdbcType="VARCHAR" />
    <result column="CANTIDAD" property="cantidad" jdbcType="DECIMAL" />
    <result column="IND_PROMOCION" property="indPromocion" jdbcType="DECIMAL" />
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select  ARTICULO_PAGO, ID_AREA, ID_TIPO_DOCUMENTO, ID_TIPO_SOLICITUD, INCISO, SENTIDO, CANTIDAD,
    IND_PROMOCION
    from DOCUMENTO_ARTICULO
    where ARTICULO_PAGO = #{articuloPago,jdbcType=VARCHAR}
      and ID_AREA = #{idArea,jdbcType=DECIMAL}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and ID_TIPO_SOLICITUD = #{idTipoSolicitud,jdbcType=DECIMAL}
      and INCISO = #{inciso,jdbcType=VARCHAR}
      and SENTIDO = #{sentido,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from DOCUMENTO_ARTICULO
    where ARTICULO_PAGO = #{articuloPago,jdbcType=VARCHAR}
      and ID_AREA = #{idArea,jdbcType=DECIMAL}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and ID_TIPO_SOLICITUD = #{idTipoSolicitud,jdbcType=DECIMAL}
      and INCISO = #{inciso,jdbcType=VARCHAR}
      and SENTIDO = #{sentido,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mx.gob.impi.rdu.persistence.model.DocumentoArticulo" >
    insert into DOCUMENTO_ARTICULO (ARTICULO_PAGO, ID_AREA, ID_TIPO_DOCUMENTO,
      ID_TIPO_SOLICITUD, INCISO, SENTIDO,
      CANTIDAD, IND_PROMOCION)
    values (#{articuloPago,jdbcType=VARCHAR}, #{idArea,jdbcType=DECIMAL}, #{idTipoDocumento,jdbcType=DECIMAL},
      #{idTipoSolicitud,jdbcType=DECIMAL}, #{inciso,jdbcType=VARCHAR}, #{sentido,jdbcType=VARCHAR},
      #{cantidad,jdbcType=DECIMAL}, #{indPromocion,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="mx.gob.impi.rdu.persistence.model.DocumentoArticulo" >
    insert into DOCUMENTO_ARTICULO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articuloPago != null" >
        ARTICULO_PAGO,
      </if>
      <if test="idArea != null" >
        ID_AREA,
      </if>
      <if test="idTipoDocumento != null" >
        ID_TIPO_DOCUMENTO,
      </if>
      <if test="idTipoSolicitud != null" >
        ID_TIPO_SOLICITUD,
      </if>
      <if test="inciso != null" >
        INCISO,
      </if>
      <if test="sentido != null" >
        SENTIDO,
      </if>
      <if test="cantidad != null" >
        CANTIDAD,
      </if>
      <if test="indPromocion != null" >
        IND_PROMOCION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articuloPago != null" >
        #{articuloPago,jdbcType=VARCHAR},
      </if>
      <if test="idArea != null" >
        #{idArea,jdbcType=DECIMAL},
      </if>
      <if test="idTipoDocumento != null" >
        #{idTipoDocumento,jdbcType=DECIMAL},
      </if>
      <if test="idTipoSolicitud != null" >
        #{idTipoSolicitud,jdbcType=DECIMAL},
      </if>
      <if test="inciso != null" >
        #{inciso,jdbcType=VARCHAR},
      </if>
      <if test="sentido != null" >
        #{sentido,jdbcType=VARCHAR},
      </if>
      <if test="cantidad != null" >
        #{cantidad,jdbcType=DECIMAL},
      </if>
      <if test="indPromocion != null" >
        #{indPromocion,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.rdu.persistence.model.DocumentoArticulo" >
    update DOCUMENTO_ARTICULO
    <set >
      <if test="cantidad != null" >
        CANTIDAD = #{cantidad,jdbcType=DECIMAL},
      </if>
      <if test="indPromocion != null" >
        IND_PROMOCION = #{indPromocion,jdbcType=DECIMAL},
      </if>
    </set>
    where ARTICULO_PAGO = #{articuloPago,jdbcType=VARCHAR}
      and ID_AREA = #{idArea,jdbcType=DECIMAL}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and ID_TIPO_SOLICITUD = #{idTipoSolicitud,jdbcType=DECIMAL}
      and INCISO = #{inciso,jdbcType=VARCHAR}
      and SENTIDO = #{sentido,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.rdu.persistence.model.DocumentoArticulo" >
    update DOCUMENTO_ARTICULO
    set CANTIDAD = #{cantidad,jdbcType=DECIMAL},
      IND_PROMOCION = #{indPromocion,jdbcType=DECIMAL}
    where ARTICULO_PAGO = #{articuloPago,jdbcType=VARCHAR}
      and ID_AREA = #{idArea,jdbcType=DECIMAL}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and ID_TIPO_SOLICITUD = #{idTipoSolicitud,jdbcType=DECIMAL}
      and INCISO = #{inciso,jdbcType=VARCHAR}
      and SENTIDO = #{sentido,jdbcType=VARCHAR}
  </update>
  
  <select id="getByCriterio" parameterType="mx.gob.impi.rdu.persistence.model.DocumentoArticulo" resultMap="BaseResultMap">
    select
    ARTICULO_PAGO, ID_AREA, ID_TIPO_DOCUMENTO, ID_TIPO_SOLICITUD, INCISO, SENTIDO, CANTIDAD,
    IND_PROMOCION
    from DOCUMENTO_ARTICULO
    <where>
       <if test="idArea != null" >
           ID_AREA=#{idArea,jdbcType=DECIMAL}
       </if>
       <if test="idTipoDocumento != null" >
           AND ID_TIPO_DOCUMENTO=#{idTipoDocumento,jdbcType=DECIMAL}
       </if>
       <if test="idTipoSolicitud != null" >
           AND ID_TIPO_SOLICITUD=#{idTipoSolicitud,jdbcType=DECIMAL}
       </if>
       <if test="articuloPago != null" >
           AND ARTICULO_PAGO=#{articuloPago,jdbcType=VARCHAR}
       </if>
    </where>
  </select>

</mapper>