<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.EstablecimientoXTramiteMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.EstablecimientoXTramite" >
    <id column="ID_DOMICILIO" property="idDomicilio" jdbcType="DECIMAL" />
    <id column="ID_TRAMITE" property="idTramite" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="mx.gob.impi.rdu.persistence.model.EstablecimientoXTramite" >
    delete from ESTABLECIMIENTO_X_TRAMITE
    where ID_DOMICILIO = #{idDomicilio,jdbcType=DECIMAL}
      and ID_TRAMITE = #{idTramite,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="mx.gob.impi.rdu.persistence.model.EstablecimientoXTramite" >
    insert into ESTABLECIMIENTO_X_TRAMITE (ID_DOMICILIO, ID_TRAMITE)
    values (#{idDomicilio,jdbcType=DECIMAL}, #{idTramite,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="mx.gob.impi.rdu.persistence.model.EstablecimientoXTramite" >
    insert into ESTABLECIMIENTO_X_TRAMITE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idDomicilio != null" >
        ID_DOMICILIO,
      </if>
      <if test="idTramite != null" >
        ID_TRAMITE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idDomicilio != null" >
        #{idDomicilio,jdbcType=DECIMAL},
      </if>
      <if test="idTramite != null" >
        #{idTramite,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <select id="getEstablecimientoByTramite" resultMap="BaseResultMap" parameterType="java.lang.Long">
      SELECT ID_DOMICILIO, ID_TRAMITE
        FROM ESTABLECIMIENTO_X_TRAMITE
        WHERE
        ID_TRAMITE=#{idTramite,jdbcType=DECIMAL}
    </select>

</mapper>