<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.InventorXTramitePatenteMapper" >
    <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.InventorXTramitePatente" >
        <id column="ID_INVENTOR" property="idInventor" jdbcType="DECIMAL" />
        <id column="ID_TRAMITE_PATENTE" property="idTramitePatente" jdbcType="DECIMAL" />
    </resultMap>
   

     <delete id="deleteInventoresByTramite" parameterType="java.lang.Long" >
    delete from INVENTOR_X_TRAMITE_PATENTE
    where ID_TRAMITE_PATENTE = #{idTramitePatente,jdbcType=DECIMAL}
  </delete>

  <insert id="insertInventorXTramitePatente" parameterType="mx.gob.impi.rdu.persistence.model.SolicitanteXTramitePatente" >
    insert into INVENTOR_X_TRAMITE_PATENTE (ID_INVENTOR, ID_TRAMITE_PATENTE)
    values (#{idInventor,jdbcType=DECIMAL}, #{idTramitePatente,jdbcType=DECIMAL})
  </insert>

  <select id="obtenerInventoresXTramite" resultMap="BaseResultMap" parameterType="java.lang.Long">
      SELECT ID_INVENTOR, ID_TRAMITE_PATENTE
        FROM INVENTOR_X_TRAMITE_PATENTE
        WHERE
        ID_TRAMITE_PATENTE=#{idTramitePatente,jdbcType=DECIMAL}
        ORDER BY ID_INVENTOR
    </select>
</mapper>