<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.PersonaNotXTramitePatenteMapper" >
    <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.PersonaNotXTramitePatente" >
        <id column="ID_PERSONA_NOT" property="idPersonaNot" jdbcType="DECIMAL" />
        <id column="ID_TRAMITE_PATENTE" property="idTramitePatente" jdbcType="DECIMAL" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from PERSONA_NOT_X_TRAMITE_PATENTE
    where ID_TRAMITE_PATENTE = #{idTramitePatente,jdbcType=DECIMAL}
    </delete>
    <insert id="insertByExample" parameterType="mx.gob.impi.rdu.persistence.model.PersonaNotXTramitePatente">
      INSERT INTO PERSONA_NOT_X_TRAMITE_PATENTE VALUES(#{idPersonaNot,jdbcType=DECIMAL},#{idTramitePatente,jdbcType=DECIMAL})
    </insert>
    <select id="obtenerPersonasNotXTramitePatente" resultMap="BaseResultMap" parameterType="java.lang.Long">
   SELECT ID_PERSONA_NOT, ID_TRAMITE_PATENTE
        FROM PERSONA_NOT_X_TRAMITE_PATENTE
        WHERE
        ID_TRAMITE_PATENTE=#{idTramitePatente,jdbcType=DECIMAL}
        ORDER BY ID_PERSONA_NOT
    </select>
</mapper>