<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.PreguntaSecretaMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.PreguntaSecreta" >
    <id column="ID_PREGUNTA_SECRETA" property="idPreguntaSecreta" jdbcType="DECIMAL" />
    <result column="PREGUNTA" property="pregunta" jdbcType="VARCHAR" />
  </resultMap>  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select
    ID_PREGUNTA_SECRETA, PREGUNTA
    from PREGUNTA_SECRETA
    where ID_PREGUNTA_SECRETA = #{idPreguntaSecreta,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from PREGUNTA_SECRETA
    where ID_PREGUNTA_SECRETA = #{idPreguntaSecreta,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="mx.gob.impi.rdu.persistence.model.PreguntaSecreta" >
    insert into PREGUNTA_SECRETA (ID_PREGUNTA_SECRETA, PREGUNTA)
    values (#{idPreguntaSecreta,jdbcType=DECIMAL}, #{pregunta,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mx.gob.impi.rdu.persistence.model.PreguntaSecreta" >
    insert into PREGUNTA_SECRETA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idPreguntaSecreta != null" >
        ID_PREGUNTA_SECRETA,
      </if>
      <if test="pregunta != null" >
        PREGUNTA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idPreguntaSecreta != null" >
        #{idPreguntaSecreta,jdbcType=DECIMAL},
      </if>
      <if test="pregunta != null" >
        #{pregunta,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.rdu.persistence.model.PreguntaSecreta" >
    update PREGUNTA_SECRETA
    <set >
      <if test="pregunta != null" >
        PREGUNTA = #{pregunta,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_PREGUNTA_SECRETA = #{idPreguntaSecreta,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.rdu.persistence.model.PreguntaSecreta" >
    update PREGUNTA_SECRETA
    set PREGUNTA = #{pregunta,jdbcType=VARCHAR}
    where ID_PREGUNTA_SECRETA = #{idPreguntaSecreta,jdbcType=DECIMAL}
  </update>
</mapper>