<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.PrioridadXTramitePatenteMapper" >
    <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.PrioridadXTramitePatente" >
        <id column="ID_PRIORIDAD" property="idPrioridad" jdbcType="DECIMAL" />
        <id column="ID_TRAMITE_PATENTE" property="idTramitePatente" jdbcType="DECIMAL" />
    </resultMap>

     <delete id="deleteRelPrioridadByTramite" parameterType="java.lang.Long" >
    delete from PRIORIDAD_X_TRAMITE_PATENTE
    where ID_TRAMITE_PATENTE = #{idTramitePatente,jdbcType=DECIMAL}
  </delete>

  <insert id="insertRelPrioridadTramite" parameterType="mx.gob.impi.rdu.persistence.model.PrioridadXTramitePatente" >
    insert into PRIORIDAD_X_TRAMITE_PATENTE (ID_PRIORIDAD, ID_TRAMITE_PATENTE)
    values (#{idPrioridad,jdbcType=DECIMAL}, #{idTramitePatente,jdbcType=DECIMAL})
  </insert>

  <select id="obtenerPrioridadXTramite" resultMap="BaseResultMap" parameterType="java.lang.Long">
      SELECT ID_PRIORIDAD, ID_TRAMITE_PATENTE
        FROM PRIORIDAD_X_TRAMITE_PATENTE
        WHERE
        ID_TRAMITE_PATENTE=#{idTramitePatente,jdbcType=DECIMAL}
        ORDER BY ID_PRIORIDAD
    </select>
    
     <select id="obtenerPrioridadXIDPrioridad" resultMap="BaseResultMap" parameterType="java.lang.String">
      SELECT ID_PRIORIDAD, ID_TRAMITE_PATENTE
        FROM PRIORIDAD_X_TRAMITE_PATENTE
        WHERE
        ID_PRIORIDAD in ( #{prioridadesIds,jdbcType=VARCHAR} )
        ORDER BY ID_PRIORIDAD
    </select>

</mapper>