<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.SolicitanteXTramiteMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.SolicitanteXTramite" >
    <id column="ID_SOLICITANTE" property="idSolicitante" jdbcType="DECIMAL" />
    <id column="ID_TRAMITE" property="idTramite" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from SOLICITANTE_X_TRAMITE
    where ID_SOLICITANTE = #{idSolicitante,jdbcType=DECIMAL}
      and ID_TRAMITE = #{idTramite,jdbcType=DECIMAL}
  </delete>

  <delete id="deleteByTramite" parameterType="java.lang.Long" >
    delete from SOLICITANTE_X_TRAMITE
    where ID_TRAMITE = #{idTramite,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="mx.gob.impi.rdu.persistence.model.SolicitanteXTramite" >
    insert into SOLICITANTE_X_TRAMITE (ID_SOLICITANTE, ID_TRAMITE)
    values (#{idSolicitante,jdbcType=DECIMAL}, #{idTramite,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="mx.gob.impi.rdu.persistence.model.SolicitanteXTramite" >
    insert into SOLICITANTE_X_TRAMITE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idSolicitante != null" >
        ID_SOLICITANTE,
      </if>
      <if test="idTramite != null" >
        ID_TRAMITE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idSolicitante != null" >
        #{idSolicitante,jdbcType=DECIMAL},
      </if>
      <if test="idTramite != null" >
        #{idTramite,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

    <select id="obtenerSolicitantesXTramite" resultMap="BaseResultMap" parameterType="java.lang.Long">
      SELECT ID_SOLICITANTE, ID_TRAMITE
        FROM SOLICITANTE_X_TRAMITE
        WHERE
        ID_TRAMITE=#{idTramite,jdbcType=DECIMAL}
        ORDER BY ID_SOLICITANTE
    </select>

</mapper>