<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.rdu.persistence.mappers.TipoDocumentoMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.rdu.persistence.model.TipoDocumento" >
    <id column="ID_AREA" property="idArea" jdbcType="DECIMAL" />
    <id column="ID_TIPO_DOCUMENTO" property="idTipoDocumento" jdbcType="DECIMAL" />
    <id column="SENTIDO" property="sentido" jdbcType="VARCHAR" />
    <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
    <result column="DESCRIPCION_CORTA" property="descripcionCorta" jdbcType="VARCHAR" />
    <result column="ID_TIPO_DOCUMENTO_SAGPAT" property="idTipoDocumentoSagpat" jdbcType="VARCHAR" />
    <result column="IND_ACTIVO" property="indActivo" jdbcType="DECIMAL" />
    <result column="IND_SOLICITUD" property="indSolicitud" jdbcType="DECIMAL" />
    <result column="IND_PROMOCION" property="indPromocion" jdbcType="DECIMAL" />
    <result column="IND_PERMITE_CAPTURA_INCOMPLETA" property="indPermiteCapturaIncompleta" jdbcType="DECIMAL" />
    <result column="IND_REQ_PAGO" property="indReqPago" jdbcType="DECIMAL" />
    <result column="IND_SELECC_MULTIP" property="indSeleccMultip" jdbcType="DECIMAL" />
    <result column="IND_RESPUESTA" property="indRespuesta" jdbcType="DECIMAL" />
    <result column="IND_FORZAR_OFICIO" property="indForzarOficio" jdbcType="DECIMAL" />
    <result column="IND_BUSQUEDA" property="indBusqueda" jdbcType="DECIMAL" />
    <result column="IND_PROM_GENERICA" property="indPromGenerica" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select  ID_AREA, ID_TIPO_DOCUMENTO, SENTIDO, DESCRIPCION, DESCRIPCION_CORTA, ID_TIPO_DOCUMENTO_SAGPAT,
    IND_ACTIVO, IND_SOLICITUD, IND_PROMOCION, IND_PERMITE_CAPTURA_INCOMPLETA, IND_REQ_PAGO,
    IND_SELECC_MULTIP, IND_RESPUESTA, IND_FORZAR_OFICIO, IND_BUSQUEDA, IND_PROM_GENERICA
    from TIPO_DOCUMENTO
    where ID_AREA = #{idArea,jdbcType=DECIMAL}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and SENTIDO = #{sentido,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from TIPO_DOCUMENTO
    where ID_AREA = #{idArea,jdbcType=DECIMAL}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and SENTIDO = #{sentido,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mx.gob.impi.rdu.persistence.model.TipoDocumento" >
    insert into TIPO_DOCUMENTO (ID_AREA, ID_TIPO_DOCUMENTO, SENTIDO,
      DESCRIPCION, DESCRIPCION_CORTA, ID_TIPO_DOCUMENTO_SAGPAT,
      IND_ACTIVO, IND_SOLICITUD, IND_PROMOCION,
      IND_PERMITE_CAPTURA_INCOMPLETA, IND_REQ_PAGO,
      IND_SELECC_MULTIP, IND_RESPUESTA, IND_FORZAR_OFICIO,
      IND_BUSQUEDA, IND_PROM_GENERICA)
    values (#{idArea,jdbcType=DECIMAL}, #{idTipoDocumento,jdbcType=DECIMAL}, #{sentido,jdbcType=VARCHAR},
      #{descripcion,jdbcType=VARCHAR}, #{descripcionCorta,jdbcType=VARCHAR}, #{idTipoDocumentoSagpat,jdbcType=VARCHAR},
      #{indActivo,jdbcType=DECIMAL}, #{indSolicitud,jdbcType=DECIMAL}, #{indPromocion,jdbcType=DECIMAL},
      #{indPermiteCapturaIncompleta,jdbcType=DECIMAL}, #{indReqPago,jdbcType=DECIMAL},
      #{indSeleccMultip,jdbcType=DECIMAL}, #{indRespuesta,jdbcType=DECIMAL}, #{indForzarOficio,jdbcType=DECIMAL},
      #{indBusqueda,jdbcType=DECIMAL}, #{indPromGenerica,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="mx.gob.impi.rdu.persistence.model.TipoDocumento" >
    insert into TIPO_DOCUMENTO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idArea != null" >
        ID_AREA,
      </if>
      <if test="idTipoDocumento != null" >
        ID_TIPO_DOCUMENTO,
      </if>
      <if test="sentido != null" >
        SENTIDO,
      </if>
      <if test="descripcion != null" >
        DESCRIPCION,
      </if>
      <if test="descripcionCorta != null" >
        DESCRIPCION_CORTA,
      </if>
      <if test="idTipoDocumentoSagpat != null" >
        ID_TIPO_DOCUMENTO_SAGPAT,
      </if>
      <if test="indActivo != null" >
        IND_ACTIVO,
      </if>
      <if test="indSolicitud != null" >
        IND_SOLICITUD,
      </if>
      <if test="indPromocion != null" >
        IND_PROMOCION,
      </if>
      <if test="indPermiteCapturaIncompleta != null" >
        IND_PERMITE_CAPTURA_INCOMPLETA,
      </if>
      <if test="indReqPago != null" >
        IND_REQ_PAGO,
      </if>
      <if test="indSeleccMultip != null" >
        IND_SELECC_MULTIP,
      </if>
      <if test="indRespuesta != null" >
        IND_RESPUESTA,
      </if>
      <if test="indForzarOficio != null" >
        IND_FORZAR_OFICIO,
      </if>
      <if test="indBusqueda != null" >
        IND_BUSQUEDA,
      </if>
      <if test="indPromGenerica != null" >
        IND_PROM_GENERICA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idArea != null" >
        #{idArea,jdbcType=DECIMAL},
      </if>
      <if test="idTipoDocumento != null" >
        #{idTipoDocumento,jdbcType=DECIMAL},
      </if>
      <if test="sentido != null" >
        #{sentido,jdbcType=VARCHAR},
      </if>
      <if test="descripcion != null" >
        #{descripcion,jdbcType=VARCHAR},
      </if>
      <if test="descripcionCorta != null" >
        #{descripcionCorta,jdbcType=VARCHAR},
      </if>
      <if test="idTipoDocumentoSagpat != null" >
        #{idTipoDocumentoSagpat,jdbcType=VARCHAR},
      </if>
      <if test="indActivo != null" >
        #{indActivo,jdbcType=DECIMAL},
      </if>
      <if test="indSolicitud != null" >
        #{indSolicitud,jdbcType=DECIMAL},
      </if>
      <if test="indPromocion != null" >
        #{indPromocion,jdbcType=DECIMAL},
      </if>
      <if test="indPermiteCapturaIncompleta != null" >
        #{indPermiteCapturaIncompleta,jdbcType=DECIMAL},
      </if>
      <if test="indReqPago != null" >
        #{indReqPago,jdbcType=DECIMAL},
      </if>
      <if test="indSeleccMultip != null" >
        #{indSeleccMultip,jdbcType=DECIMAL},
      </if>
      <if test="indRespuesta != null" >
        #{indRespuesta,jdbcType=DECIMAL},
      </if>
      <if test="indForzarOficio != null" >
        #{indForzarOficio,jdbcType=DECIMAL},
      </if>
      <if test="indBusqueda != null" >
        #{indBusqueda,jdbcType=DECIMAL},
      </if>
      <if test="indPromGenerica != null" >
        #{indPromGenerica,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.rdu.persistence.model.TipoDocumento" >
    update TIPO_DOCUMENTO
    <set >
      <if test="descripcion != null" >
        DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      </if>
      <if test="descripcionCorta != null" >
        DESCRIPCION_CORTA = #{descripcionCorta,jdbcType=VARCHAR},
      </if>
      <if test="idTipoDocumentoSagpat != null" >
        ID_TIPO_DOCUMENTO_SAGPAT = #{idTipoDocumentoSagpat,jdbcType=VARCHAR},
      </if>
      <if test="indActivo != null" >
        IND_ACTIVO = #{indActivo,jdbcType=DECIMAL},
      </if>
      <if test="indSolicitud != null" >
        IND_SOLICITUD = #{indSolicitud,jdbcType=DECIMAL},
      </if>
      <if test="indPromocion != null" >
        IND_PROMOCION = #{indPromocion,jdbcType=DECIMAL},
      </if>
      <if test="indPermiteCapturaIncompleta != null" >
        IND_PERMITE_CAPTURA_INCOMPLETA = #{indPermiteCapturaIncompleta,jdbcType=DECIMAL},
      </if>
      <if test="indReqPago != null" >
        IND_REQ_PAGO = #{indReqPago,jdbcType=DECIMAL},
      </if>
      <if test="indSeleccMultip != null" >
        IND_SELECC_MULTIP = #{indSeleccMultip,jdbcType=DECIMAL},
      </if>
      <if test="indRespuesta != null" >
        IND_RESPUESTA = #{indRespuesta,jdbcType=DECIMAL},
      </if>
      <if test="indForzarOficio != null" >
        IND_FORZAR_OFICIO = #{indForzarOficio,jdbcType=DECIMAL},
      </if>
      <if test="indBusqueda != null" >
        IND_BUSQUEDA = #{indBusqueda,jdbcType=DECIMAL},
      </if>
      <if test="indPromGenerica != null" >
        IND_PROM_GENERICA = #{indPromGenerica,jdbcType=DECIMAL},
      </if>
    </set>
    where ID_AREA = #{idArea,jdbcType=DECIMAL}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and SENTIDO = #{sentido,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.rdu.persistence.model.TipoDocumento" >
    update TIPO_DOCUMENTO
    set DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      DESCRIPCION_CORTA = #{descripcionCorta,jdbcType=VARCHAR},
      ID_TIPO_DOCUMENTO_SAGPAT = #{idTipoDocumentoSagpat,jdbcType=VARCHAR},
      IND_ACTIVO = #{indActivo,jdbcType=DECIMAL},
      IND_SOLICITUD = #{indSolicitud,jdbcType=DECIMAL},
      IND_PROMOCION = #{indPromocion,jdbcType=DECIMAL},
      IND_PERMITE_CAPTURA_INCOMPLETA = #{indPermiteCapturaIncompleta,jdbcType=DECIMAL},
      IND_REQ_PAGO = #{indReqPago,jdbcType=DECIMAL},
      IND_SELECC_MULTIP = #{indSeleccMultip,jdbcType=DECIMAL},
      IND_RESPUESTA = #{indRespuesta,jdbcType=DECIMAL},
      IND_FORZAR_OFICIO = #{indForzarOficio,jdbcType=DECIMAL},
      IND_BUSQUEDA = #{indBusqueda,jdbcType=DECIMAL},
      IND_PROM_GENERICA = #{indPromGenerica,jdbcType=DECIMAL}
    where ID_AREA = #{idArea,jdbcType=DECIMAL}
      and ID_TIPO_DOCUMENTO = #{idTipoDocumento,jdbcType=DECIMAL}
      and SENTIDO = #{sentido,jdbcType=VARCHAR}
  </update>
  <select id="getByCriterio" resultMap="BaseResultMap" parameterType="mx.gob.impi.rdu.persistence.model.TipoDocumento" >
    select  ID_AREA, ID_TIPO_DOCUMENTO, SENTIDO, DESCRIPCION, DESCRIPCION_CORTA, ID_TIPO_DOCUMENTO_SAGPAT,
    IND_ACTIVO, IND_SOLICITUD, IND_PROMOCION, IND_PERMITE_CAPTURA_INCOMPLETA, IND_REQ_PAGO,
    IND_SELECC_MULTIP, IND_RESPUESTA, IND_FORZAR_OFICIO, IND_BUSQUEDA, IND_PROM_GENERICA
    from TIPO_DOCUMENTO
    <where>
       <if test="idArea != null" >
           ID_AREA=#{idArea,jdbcType=DECIMAL}
       </if>
       <if test="descripcion != null" >
           AND DESCRIPCION=#{descripcion,jdbcType=VARCHAR}
       </if>
       <if test="descripcionCorta != null" >
           AND DESCRIPCION_CORTA=#{descripcionCorta,jdbcType=VARCHAR}
       </if>
    </where>
  </select>
</mapper>