<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mx.gob.impi.rdu.persistence.mapper.UsuarioMapper">
  <resultMap id="UsuarioResultMap" type="mx.gob.impi.rdu.persistence.model.Usuario">
    <id column="id_usuario" property="idUsuario" jdbcType="BIGINT"/>
    <result column="nombre" property="nombre" jdbcType="VARCHAR"/>
    <result column="apellido_paterno" property="apellidoPaterno" jdbcType="VARCHAR"/>
    <result column="apellido_materno" property="apellidoMaterno" jdbcType="VARCHAR"/>
    <result column="id_domicilio" property="idDomicilio" jdbcType="BIGINT"/>
    <result column="id_tipo" property="idTipo" jdbcType="SMALLINT"/>
    <result column="id_dependencia" property="idDependencia" jdbcType="SMALLINT"/>
    <result column="otra_dependencia" property="otraDependencia" jdbcType="VARCHAR"/>
    <result column="id_pais" property="idPais" jdbcType="BIGINT"/>
  </resultMap>
</mapper> 