<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd" default-lazy-init="true">
    <tx:annotation-driven transaction-manager="transactionManagerSagpat" />
    <!-- dataSouce para ambiente de desarrollo, usar en pruebas locales de los metodos de los EJB
    <bean id="dataSourceSagpat" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.10.146:1521:desa"/>
        <property name="username" value="RPATENTESDU"/>
        <property name="password" value="rpatente$du"/>
    </bean>    
    -->
    <!-- dataSouce para ambiente de produccion utilizando pool de conexiones de glassfish-->
   <bean id="dataSourceSagpat" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="jdbc/sagpat"></property>
        <property name="lookupOnStartup" value="true"></property>
        <property name="cache" value="true"></property>
        <property name="proxyInterface" value="javax.sql.DataSource"></property>
    </bean>

    <bean id="transactionManagerSagpat" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceSagpat" />
    </bean>

    <bean id="sqlSessionFactorySagpat" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="mapperLocations" value="classpath*:mx/gob/impi/sagpat/persistence/mappings/**/*.xml" />
        <property name="dataSource" ref="dataSourceSagpat" />
    </bean>

    <bean  id="documentoExpedienteMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.DocumentoExpedienteMapper"/>
    </bean>

    <bean  id="documentoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.DocumentoMapper"/>
    </bean>
    
    
    <bean  id="expedienteMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.ExpedienteMapper"/>
    </bean>
    
    
    <bean  id="legajoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.LegajoMapper"/>
    </bean>
    
    <bean  id="personaDirecMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.PersonaDirecMapper"/>
    </bean>
    
    <bean  id="personaMapperSagpat" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.PersonaMapper"/>
    </bean>

    <bean  id="personaPalabraMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.PersonaPalabraMapper"/>
    </bean>
    
    
    <bean  id="solicitudApoderadoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudApoderadoMapper"/>
    </bean>
    
    
    <bean  id="solicitudInventorMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudInventorMapper"/>
    </bean>

        
    <bean  id="solicitudMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudMapper"/>
    </bean>


    <bean  id="solicitudPrioridadMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudPrioridadMapper"/>
    </bean>
    
    <bean  id="solicitudResumenWordMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudResumenWordMapper"/>
    </bean>
     
    <bean  id="solicitudTitularMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudTitularMapper"/>
    </bean>
    
  
    
      <bean  id="solicitudTituloWordMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudTituloWordMapper"/>
    </bean>
      <bean  id="thisControlMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.ThisControlMapper"/>
    </bean>
  
    <bean  id="diaProcesoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.DiaProcesoMapper"/>
    </bean>
  
   <bean  id="libroPartesMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.LibroPartesMapper"/>
    </bean>
  
    <bean  id="serieExpedienteMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SerieExpedienteMapper"/>
    </bean>
    
    <bean  id="tipoSolicitudMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.TipoSolicitudMapper"/>
    </bean>    
    
     <bean  id="solicitudReivindicacionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudReivindicacionMapper"/>
   </bean>
   
   <bean  id="solicitudReivindicacionWordMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudReivindicacionWordMapper"/>
   </bean>
   
   <bean  id="solicitudDibujosMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudDibujosMapper"/>
   </bean>   
   
    <bean  id="solicitudTituloUnicodeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudTituloUnicodeMapper"/>
   </bean>   
   
    <bean  id="solicitudResumenUnicodeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudResumenUnicodeMapper"/>
   </bean>
  
  <bean  id="fepsRecibidosMapperSagpat" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.FepsRecibidosMapper"/>
    </bean>
    
    <bean  id="palabraIgnorarMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.PalabraIgnorarMapper"/>
    </bean>
  
  <bean  id="solicitudPalabraMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.SolicitudPalabraMapper"/>
   </bean>

    <bean  id="notificacionViewMapperSagpat" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.NotificacionViewMapper"/>
   </bean>
    <bean  id="datosSolicitudPctMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.DatosSolicitudPctMapper"/>
   </bean>
   
   <bean  id="rduTipoPromocionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.TipoPromocionMapper"/>
    </bean>
    
    <bean id="promocionesMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactorySagpat"/>
        <property name="mapperInterface" value="mx.gob.impi.sagpat.persistence.mappers.PromocionesMapper"/>
    </bean>  
</beans>
