<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.sigappi.persistence.mappers.AreaMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.sigappi.persistence.model.Area" >
<result column="CVE_AREA" property="cveArea" jdbcType="DECIMAL" />
<result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
<result column="DESCRIP" property="descrip" jdbcType="VARCHAR" />
<result column="CVE_AREA_PADRE" property="cveAreaPadre" jdbcType="DECIMAL" />
  </resultMap>
  


  <select id="selectByCveArea" parameterType="map" resultMap="BaseResultMap">
        SELECT CVE_AREA,
                DESCRIPCION,
                DESCRIP,
                CVE_AREA_PADRE
        FROM AREA
        WHERE CVE_AREA = #{cveArea,jdbcType=DECIMAL} 
        
    </select>
     
</mapper>