<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.sigappi.persistence.mappers.FigurasJuridicasMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.sigappi.persistence.model.FigurasJuridicas" >
<result column="NUM_FIGURA" property="numFigura" jdbcType="DECIMAL" />
<result column="CVE_FIGURA" property="cveFigura" jdbcType="VARCHAR" />
<result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
<result column="CVE_DIRECCION" property="cveDireccion" jdbcType="DECIMAL" />
<result column="REGISTRO_LEY" property="registroLey" jdbcType="VARCHAR" />
  </resultMap>
  


  <select id="selectByNumFigura" parameterType="map" resultMap="BaseResultMap">
        SELECT NUM_FIGURA,
                CVE_FIGURA,
                DESCRIPCION,
                CVE_DIRECCION,
                REGISTRO_LEY
        FROM FIGURAS_JURIDICAS
        WHERE NUM_FIGURA = #{numFigura,jdbcType=DECIMAL} 
        
    </select>
     
</mapper>