<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.sigappi.persistence.mappers.InteresadosMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.sigappi.persistence.model.Interesados" >
<result column="COD_INTERESADO" property="codInteresado" jdbcType="DECIMAL" />
<result column="TIPO_PERSONA" property="tipoPersona" jdbcType="VARCHAR" />
<result column="NOMBRE" property="nombre" jdbcType="VARCHAR" />
<result column="COD_NACIONALIDAD" property="codNacionalidad" jdbcType="VARCHAR" />
<result column="FECHA_MODIFICACION" property="fechaModificacion" jdbcType="TIMESTAMP" />
<result column="CVE_USUARIO" property="cveUsuario" jdbcType="VARCHAR" />
  </resultMap>
  


  <select id="selectByCodInteresado" parameterType="map" resultMap="BaseResultMap">
        SELECT COD_INTERESADO,
                TIPO_PERSONA,
                NOMBRE,
                COD_NACIONALIDAD,
                FECHA_MODIFICACION,
                CVE_USUARIO
        FROM INTERESADOS
        WHERE COD_INTERESADO = #{codInteresado,jdbcType=DECIMAL} 
        
    </select>
     
</mapper>