<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.sigappi.persistence.mappers.KfContenedoresMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.sigappi.persistence.model.KfContenedores" >
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="PERSON" property="person" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="FECHA" property="fecha" jdbcType="VARCHAR" />
    <result column="SUBCLASSID" property="subclassid" jdbcType="VARCHAR" />
    <result column="SECURITY" property="security" jdbcType="VARCHAR" />
    <result column="SERVIDOR" property="servidor" jdbcType="VARCHAR" />
    <result column="OBJID" property="objid" jdbcType="VARCHAR" />
    <result column="OBJIDARCHIVERO" property="objidarchivero" jdbcType="VARCHAR" />
    <result column="PC" property="pc" jdbcType="VARCHAR" />
    <result column="FOLIO" property="folio" jdbcType="DECIMAL" />
    <result column="SERIE" property="serie" jdbcType="DECIMAL" />
    <result column="FOLIO_SECCION" property="folioSeccion" jdbcType="DECIMAL" />
    <result column="ACCION" property="accion" jdbcType="VARCHAR" />
    <result column="FOLIO_ACCION" property="folioAccion" jdbcType="DECIMAL" />
    <result column="FOLIO_STRING" property="folioString" jdbcType="VARCHAR" />
    <result column="FOLIOEXP" property="folioexp" jdbcType="VARCHAR" />
    <result column="OBJID2" property="objid2" jdbcType="VARCHAR" />
    <result column="IND_RESUELTO" property="indResuelto" jdbcType="DECIMAL" />
    <result column="USUARIO" property="usuario" jdbcType="VARCHAR" />
    <result column="FECHA_ASIGNACION" property="fechaAsignacion" jdbcType="TIMESTAMP" />
    <result column="TITLE_PADRE" property="titlePadre" jdbcType="VARCHAR" />
    <result column="IND_PATENTE" property="indPatente" jdbcType="DECIMAL" />
    <result column="IND_RESOL_NOTIFICADA" property="indResolNotificada" jdbcType="DECIMAL" />
    <result column="SUBTIPO_DOCUMENTO" property="subtipoDocumento" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="mx.gob.impi.sigappi.persistence.model.KfContenedores" >
    insert into KFCONTENEDORES (TITLE,
                                PERSON,
                                TYPE,
                                DESCRIPTION,
                                FECHA,
                                SUBCLASSID,
                                SECURITY,
                                SERVIDOR,
                                OBJID,
                                OBJIDARCHIVERO,
                                PC,
                                FOLIO,
                                SERIE,
                                FOLIO_SECCION,
                                ACCION,
                                FOLIO_ACCION,
                                FOLIO_STRING,
                                FOLIOEXP,
                                OBJID2,
                                IND_RESUELTO,
                                USUARIO,
                                FECHA_ASIGNACION,
                                TITLE_PADRE,
                                IND_PATENTE,
                                IND_RESOL_NOTIFICADA,
                                SUBTIPO_DOCUMENTO)
                values (
                #{title,jdbcType=VARCHAR},
                #{person,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR},
                #{fecha,jdbcType=VARCHAR},
                #{subclassid,jdbcType=VARCHAR},
                #{security,jdbcType=VARCHAR},
                #{servidor,jdbcType=VARCHAR},
                #{objid,jdbcType=VARCHAR},
                #{objidarchivero,jdbcType=VARCHAR},
                #{pc,jdbcType=VARCHAR},
                #{folio,jdbcType=DECIMAL},
                #{serie,jdbcType=DECIMAL},
                #{folioSeccion,jdbcType=DECIMAL},
                #{accion,jdbcType=VARCHAR},
                #{folioSccion,jdbcType=DECIMAL},
                #{folioString,jdbcType=VARCHAR},
                #{folioexp,jdbcType=VARCHAR},
                #{objid2,jdbcType=VARCHAR},
                #{indResuelto,jdbcType=DECIMAL},
                #{usuario,jdbcType=VARCHAR},
                #{fechaAsignacion,jdbcType=TIMESTAMP},
                #{titlePadre,jdbcType=VARCHAR},
                #{indPatente,jdbcType=DECIMAL},
                #{indResolNotificada,jdbcType=DECIMAL},
                #{subtipoDocumento,jdbcType=DECIMAL})
  </insert>


  <select id="selectByTitle" parameterType="map" resultMap="BaseResultMap">
        SELECT TITLE,
                PERSON,
                TYPE,
                DESCRIPTION,
                FECHA,
                SUBCLASSID,
                SECURITY,
                SERVIDOR,
                OBJID,
                OBJIDARCHIVERO,
                PC,
                FOLIO,
                SERIE,
                FOLIO_SECCION,
                ACCION,
                FOLIO_ACCION,
                FOLIO_STRING,
                FOLIOEXP,
                OBJID2,
                IND_RESUELTO,
                USUARIO,
                FECHA_ASIGNACION,
                TITLE_PADRE,
                IND_PATENTE,
                IND_RESOL_NOTIFICADA,
                SUBTIPO_DOCUMENTO
        FROM KFCONTENEDORES
        WHERE TITLE = #{title,jdbcType=VARCHAR} 
        
    </select>
     <select id="selectByPC" parameterType="map" resultMap="BaseResultMap">
        SELECT TITLE,
                PERSON,
                TYPE,
                DESCRIPTION,
                FECHA,
                SUBCLASSID,
                SECURITY,
                SERVIDOR,
                OBJID,
                OBJIDARCHIVERO,
                PC,
                FOLIO,
                SERIE,
                FOLIO_SECCION,
                ACCION,
                FOLIO_ACCION,
                FOLIO_STRING,
                FOLIOEXP,
                OBJID2,
                IND_RESUELTO,
                USUARIO,
                FECHA_ASIGNACION,
                TITLE_PADRE,
                IND_PATENTE,
                IND_RESOL_NOTIFICADA,
                SUBTIPO_DOCUMENTO
        FROM KFCONTENEDORES
        WHERE PC = #{pc,jdbcType=VARCHAR} 
        
    </select>
    
    <select id="findByTitleOrPc" 
            resultType="mx.gob.impi.sigappi.persistence.model.KfContenedores" 
            parameterType="String">
        select * from kfcontenedores where title = #{id,jdbcType=VARCHAR} or pc = #{id, jdbcType=VARCHAR}
    </select>
</mapper>