<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.sigappi.persistence.mappers.TipoAnexoMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.sigappi.persistence.model.TipoAnexo" >
<result column="CATEGORIA" property="categoria" jdbcType="DECIMAL" />
<result column="DIVISION" property="division" jdbcType="DECIMAL" />
<result column="SECCION" property="seccion" jdbcType="DECIMAL" />
<result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
  </resultMap>
  


  <select id="selectByCategoriaDivisionSeccion" parameterType="map" resultMap="BaseResultMap">
        SELECT CATEGORIA,
                DIVISION,
                SECCION,
                DESCRIPCION
        FROM TIPO_ANEXO
        WHERE CATEGORIA = #{categoria,jdbcType=DECIMAL} 
      AND DIVISION = #{division,jdbcType=DECIMAL} 
      AND SECCION = #{seccion,jdbcType=DECIMAL} 
        
    </select>
     
</mapper>