<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.pase.persistence.mappers.IMPI.CatMotivoAlertaMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.pase.persistence.model.CatMotivoAlerta" >
    <id column="ID_MOTIVO_ALERTA" property="idMotivoAlerta" jdbcType="DECIMAL" />
    <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select ID_MOTIVO_ALERTA, DESCRIPCION
    from IMPI.CAT_MOTIVO_ALERTA
    where ID_MOTIVO_ALERTA = #{idMotivoAlerta,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from IMPI.CAT_MOTIVO_ALERTA
    where ID_MOTIVO_ALERTA = #{idMotivoAlerta,jdbcType=DECIMAL}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.pase.persistence.model.CatMotivoAlerta" >
    update IMPI.CAT_MOTIVO_ALERTA
    <set >
      <if test="descripcion != null" >
        DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_MOTIVO_ALERTA = #{idMotivoAlerta,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.pase.persistence.model.CatMotivoAlerta" >
    update IMPI.CAT_MOTIVO_ALERTA
    set DESCRIPCION = #{descripcion,jdbcType=VARCHAR}
    where ID_MOTIVO_ALERTA = #{idMotivoAlerta,jdbcType=DECIMAL}
  </update>
</mapper>