<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.pase.persistence.mappers.SisAlertaMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.pase.persistence.model.SisAlerta" >
    <id column="ID_ALERTA" property="idAlerta" jdbcType="DECIMAL" />
    <result column="ID_PROMOVENTE" property="idPromovente" jdbcType="DECIMAL" />
    <result column="ID_MOTIVO_ALERTA" property="idMotivoAlerta" jdbcType="DECIMAL" />
    <result column="FECHA" property="fecha" jdbcType="TIMESTAMP" />    
    <result column="NUMERO_CERTIFICADO" property="numeroCertificado" jdbcType="VARCHAR" />
    <result column="FECHA_EXPIRA" property="fechaExpira" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select ID_ALERTA, ID_PROMOVENTE, ID_MOTIVO_ALERTA, FECHA, NUMERO_CERTIFICADO
    ,FECHA_EXPIRA
    from IMPI.SIS_ALERTA
    where ID_ALERTA = #{idAlerta,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from IMPI.SIS_ALERTA
    where ID_ALERTA = #{idAlerta,jdbcType=DECIMAL}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.pase.persistence.model.SisAlerta" >
    update IMPI.SIS_ALERTA
    <set >
      <if test="idPromovente != null" >
        ID_PROMOVENTE = #{idPromovente,jdbcType=DECIMAL},
      </if>
      <if test="idMotivoAlerta != null" >
        ID_MOTIVO_ALERTA = #{idMotivoAlerta,jdbcType=DECIMAL},
      </if>
      <if test="fecha != null" >
        FECHA = #{fecha,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID_ALERTA = #{idAlerta,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.pase.persistence.model.SisAlerta" >
    update IMPI.SIS_ALERTA
    set ID_PROMOVENTE = #{idPromovente,jdbcType=DECIMAL},
      ID_MOTIVO_ALERTA = #{idMotivoAlerta,jdbcType=DECIMAL},
      FECHA = #{fecha,jdbcType=TIMESTAMP}
    where ID_ALERTA = #{idAlerta,jdbcType=DECIMAL}
  </update>
  <insert id="insertarAlertas" parameterType="mx.gob.impi.pase.persistence.model.SisAlerta" >
      <selectKey keyProperty="idFirma" resultType="java.lang.Long" order="AFTER">SELECT SIS_ALERTA_ID_ALERTA_SEQ.CURRVAL FROM DUAL</selectKey>
    insert into IMPI.SIS_ALERTA (ID_ALERTA, ID_PROMOVENTE, ID_MOTIVO_ALERTA,
        FECHA, NUMERO_CERTIFICADO, FECHA_EXPIRA
      )
    values (SIS_ALERTA_ID_ALERTA_SEQ.NEXTVAL , #{idPromovente,jdbcType=DECIMAL},
            #{idMotivoAlerta,jdbcType=DECIMAL}, SYSDATE, #{numeroCertificado,jdbcType=VARCHAR}
            , #{fechaExpira,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAlertas" resultMap="BaseResultMap" parameterType="mx.gob.impi.pase.persistence.model.SisAlerta" >
    select ID_ALERTA, ID_PROMOVENTE, ID_MOTIVO_ALERTA, FECHA, NUMERO_CERTIFICADO
    ,FECHA_EXPIRA
    from IMPI.SIS_ALERTA
    <where>
       <if test="idPromovente != null" >
           ID_PROMOVENTE = #{idPromovente,jdbcType=DECIMAL}
       </if>
       <if test="numeroCertificado != null" >
           AND NUMERO_CERTIFICADO = #{numeroCertificado,jdbcType=VARCHAR}
       </if>
    </where>
  </select>
</mapper>