<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.sagpat.persistence.mappers.LegajoMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.sagpat.persistence.model.Legajo" >
    <id column="COD_OFICINA" property="codOficina" jdbcType="VARCHAR" />
    <id column="NUM_EXPED" property="numExped" jdbcType="DECIMAL" />
    <id column="SEC_LEGAJO" property="secLegajo" jdbcType="DECIMAL" />
    <id column="SER_EXPED" property="serExped" jdbcType="DECIMAL" />
    <id column="TIP_EXPED" property="tipExped" jdbcType="VARCHAR" />
    <result column="ROW_VERSION" property="rowVersion" jdbcType="DECIMAL" />
    <result column="DES_LEGAJO" property="desLegajo" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="FEC_ULT_RELACION" property="fecUltRelacion" jdbcType="TIMESTAMP" />
    <result column="IND_MICROFILMADO" property="indMicrofilmado" jdbcType="VARCHAR" />
    <result column="IND_DIGITALIZADO" property="indDigitalizado" jdbcType="VARCHAR" />
    <result column="IND_RESGUARDO" property="indResguardo" jdbcType="VARCHAR" />
    <result column="SER_ULT_RELACION" property="serUltRelacion" jdbcType="DECIMAL" />
    <result column="NUM_ULT_RELACION" property="numUltRelacion" jdbcType="DECIMAL" />
    <result column="NUM_CONCESION" property="numConcesion" jdbcType="DECIMAL" />
    <result column="COD_DIREC" property="codDirec" jdbcType="VARCHAR" />
    <result column="COD_SUBDIREC" property="codSubdirec" jdbcType="VARCHAR" />
    <result column="COD_DEPTO" property="codDepto" jdbcType="VARCHAR" />
    <result column="OBS" property="obs" jdbcType="VARCHAR" />
    <result column="OBJID_FOLDER" property="objidFolder" jdbcType="VARCHAR" />
    <result column="OBJID_LEGAJO" property="objidLegajo" jdbcType="VARCHAR" />
    <result column="CODBARRAS" property="codbarras" jdbcType="VARCHAR" />
    <result column="COD_OFICINA_RECEPTORA" property="codOficinaReceptora" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 'false' as QUERYID,
     COD_OFICINA, NUM_EXPED, SEC_LEGAJO, SER_EXPED, TIP_EXPED, ROW_VERSION, DES_LEGAJO, 
    USER_ID, FEC_ULT_RELACION, IND_MICROFILMADO, IND_DIGITALIZADO, IND_RESGUARDO, SER_ULT_RELACION, 
    NUM_ULT_RELACION, NUM_CONCESION, COD_DIREC, COD_SUBDIREC, COD_DEPTO, OBS, OBJID_FOLDER, 
    OBJID_LEGAJO, CODBARRAS, COD_OFICINA_RECEPTORA
    from PATENTES.LEGAJO
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SEC_LEGAJO = #{secLegajo,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from PATENTES.LEGAJO
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SEC_LEGAJO = #{secLegajo,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="mx.gob.impi.sagpat.persistence.model.Legajo" >
    insert into PATENTES.LEGAJO (COD_OFICINA, NUM_EXPED, SEC_LEGAJO, 
      SER_EXPED, TIP_EXPED, ROW_VERSION, 
      DES_LEGAJO, USER_ID, FEC_ULT_RELACION, 
      IND_MICROFILMADO, IND_DIGITALIZADO, IND_RESGUARDO, 
      SER_ULT_RELACION, NUM_ULT_RELACION, NUM_CONCESION, 
      COD_DIREC, COD_SUBDIREC, COD_DEPTO, 
      OBS, OBJID_FOLDER, OBJID_LEGAJO, 
      CODBARRAS, COD_OFICINA_RECEPTORA)
    values (#{codOficina,jdbcType=VARCHAR}, #{numExped,jdbcType=DECIMAL}, #{secLegajo,jdbcType=DECIMAL}, 
      #{serExped,jdbcType=DECIMAL}, #{tipExped,jdbcType=VARCHAR}, #{rowVersion,jdbcType=DECIMAL}, 
      #{desLegajo,jdbcType=VARCHAR}, #{userId,jdbcType=DECIMAL}, #{fecUltRelacion,jdbcType=TIMESTAMP}, 
      #{indMicrofilmado,jdbcType=VARCHAR}, #{indDigitalizado,jdbcType=VARCHAR}, #{indResguardo,jdbcType=VARCHAR}, 
      #{serUltRelacion,jdbcType=DECIMAL}, #{numUltRelacion,jdbcType=DECIMAL}, #{numConcesion,jdbcType=DECIMAL}, 
      #{codDirec,jdbcType=VARCHAR}, #{codSubdirec,jdbcType=VARCHAR}, #{codDepto,jdbcType=VARCHAR}, 
      #{obs,jdbcType=VARCHAR}, #{objidFolder,jdbcType=VARCHAR}, #{objidLegajo,jdbcType=VARCHAR}, 
      #{codbarras,jdbcType=VARCHAR}, #{codOficinaReceptora,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="mx.gob.impi.sagpat.persistence.model.Legajo" >
    insert into PATENTES.LEGAJO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codOficina != null" >
        COD_OFICINA,
      </if>
      <if test="numExped != null" >
        NUM_EXPED,
      </if>
      <if test="secLegajo != null" >
        SEC_LEGAJO,
      </if>
      <if test="serExped != null" >
        SER_EXPED,
      </if>
      <if test="tipExped != null" >
        TIP_EXPED,
      </if>
      <if test="rowVersion != null" >
        ROW_VERSION,
      </if>
      <if test="desLegajo != null" >
        DES_LEGAJO,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="fecUltRelacion != null" >
        FEC_ULT_RELACION,
      </if>
      <if test="indMicrofilmado != null" >
        IND_MICROFILMADO,
      </if>
      <if test="indDigitalizado != null" >
        IND_DIGITALIZADO,
      </if>
      <if test="indResguardo != null" >
        IND_RESGUARDO,
      </if>
      <if test="serUltRelacion != null" >
        SER_ULT_RELACION,
      </if>
      <if test="numUltRelacion != null" >
        NUM_ULT_RELACION,
      </if>
      <if test="numConcesion != null" >
        NUM_CONCESION,
      </if>
      <if test="codDirec != null" >
        COD_DIREC,
      </if>
      <if test="codSubdirec != null" >
        COD_SUBDIREC,
      </if>
      <if test="codDepto != null" >
        COD_DEPTO,
      </if>
      <if test="obs != null" >
        OBS,
      </if>
      <if test="objidFolder != null" >
        OBJID_FOLDER,
      </if>
      <if test="objidLegajo != null" >
        OBJID_LEGAJO,
      </if>
      <if test="codbarras != null" >
        CODBARRAS,
      </if>
      <if test="codOficinaReceptora != null" >
        COD_OFICINA_RECEPTORA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codOficina != null" >
        #{codOficina,jdbcType=VARCHAR},
      </if>
      <if test="numExped != null" >
        #{numExped,jdbcType=DECIMAL},
      </if>
      <if test="secLegajo != null" >
        #{secLegajo,jdbcType=DECIMAL},
      </if>
      <if test="serExped != null" >
        #{serExped,jdbcType=DECIMAL},
      </if>
      <if test="tipExped != null" >
        #{tipExped,jdbcType=VARCHAR},
      </if>
      <if test="rowVersion != null" >
        #{rowVersion,jdbcType=DECIMAL},
      </if>
      <if test="desLegajo != null" >
        #{desLegajo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="fecUltRelacion != null" >
        #{fecUltRelacion,jdbcType=TIMESTAMP},
      </if>
      <if test="indMicrofilmado != null" >
        #{indMicrofilmado,jdbcType=VARCHAR},
      </if>
      <if test="indDigitalizado != null" >
        #{indDigitalizado,jdbcType=VARCHAR},
      </if>
      <if test="indResguardo != null" >
        #{indResguardo,jdbcType=VARCHAR},
      </if>
      <if test="serUltRelacion != null" >
        #{serUltRelacion,jdbcType=DECIMAL},
      </if>
      <if test="numUltRelacion != null" >
        #{numUltRelacion,jdbcType=DECIMAL},
      </if>
      <if test="numConcesion != null" >
        #{numConcesion,jdbcType=DECIMAL},
      </if>
      <if test="codDirec != null" >
        #{codDirec,jdbcType=VARCHAR},
      </if>
      <if test="codSubdirec != null" >
        #{codSubdirec,jdbcType=VARCHAR},
      </if>
      <if test="codDepto != null" >
        #{codDepto,jdbcType=VARCHAR},
      </if>
      <if test="obs != null" >
        #{obs,jdbcType=VARCHAR},
      </if>
      <if test="objidFolder != null" >
        #{objidFolder,jdbcType=VARCHAR},
      </if>
      <if test="objidLegajo != null" >
        #{objidLegajo,jdbcType=VARCHAR},
      </if>
      <if test="codbarras != null" >
        #{codbarras,jdbcType=VARCHAR},
      </if>
      <if test="codOficinaReceptora != null" >
        #{codOficinaReceptora,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.sagpat.persistence.model.Legajo" >
    update PATENTES.LEGAJO
    <set >
      <if test="rowVersion != null" >
        ROW_VERSION = #{rowVersion,jdbcType=DECIMAL},
      </if>
      <if test="desLegajo != null" >
        DES_LEGAJO = #{desLegajo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="fecUltRelacion != null" >
        FEC_ULT_RELACION = #{fecUltRelacion,jdbcType=TIMESTAMP},
      </if>
      <if test="indMicrofilmado != null" >
        IND_MICROFILMADO = #{indMicrofilmado,jdbcType=VARCHAR},
      </if>
      <if test="indDigitalizado != null" >
        IND_DIGITALIZADO = #{indDigitalizado,jdbcType=VARCHAR},
      </if>
      <if test="indResguardo != null" >
        IND_RESGUARDO = #{indResguardo,jdbcType=VARCHAR},
      </if>
      <if test="serUltRelacion != null" >
        SER_ULT_RELACION = #{serUltRelacion,jdbcType=DECIMAL},
      </if>
      <if test="numUltRelacion != null" >
        NUM_ULT_RELACION = #{numUltRelacion,jdbcType=DECIMAL},
      </if>
      <if test="numConcesion != null" >
        NUM_CONCESION = #{numConcesion,jdbcType=DECIMAL},
      </if>
      <if test="codDirec != null" >
        COD_DIREC = #{codDirec,jdbcType=VARCHAR},
      </if>
      <if test="codSubdirec != null" >
        COD_SUBDIREC = #{codSubdirec,jdbcType=VARCHAR},
      </if>
      <if test="codDepto != null" >
        COD_DEPTO = #{codDepto,jdbcType=VARCHAR},
      </if>
      <if test="obs != null" >
        OBS = #{obs,jdbcType=VARCHAR},
      </if>
      <if test="objidFolder != null" >
        OBJID_FOLDER = #{objidFolder,jdbcType=VARCHAR},
      </if>
      <if test="objidLegajo != null" >
        OBJID_LEGAJO = #{objidLegajo,jdbcType=VARCHAR},
      </if>
      <if test="codbarras != null" >
        CODBARRAS = #{codbarras,jdbcType=VARCHAR},
      </if>
      <if test="codOficinaReceptora != null" >
        COD_OFICINA_RECEPTORA = #{codOficinaReceptora,jdbcType=DECIMAL},
      </if>
    </set>
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SEC_LEGAJO = #{secLegajo,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.sagpat.persistence.model.Legajo" >
    update PATENTES.LEGAJO
    set ROW_VERSION = #{rowVersion,jdbcType=DECIMAL},
      DES_LEGAJO = #{desLegajo,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=DECIMAL},
      FEC_ULT_RELACION = #{fecUltRelacion,jdbcType=TIMESTAMP},
      IND_MICROFILMADO = #{indMicrofilmado,jdbcType=VARCHAR},
      IND_DIGITALIZADO = #{indDigitalizado,jdbcType=VARCHAR},
      IND_RESGUARDO = #{indResguardo,jdbcType=VARCHAR},
      SER_ULT_RELACION = #{serUltRelacion,jdbcType=DECIMAL},
      NUM_ULT_RELACION = #{numUltRelacion,jdbcType=DECIMAL},
      NUM_CONCESION = #{numConcesion,jdbcType=DECIMAL},
      COD_DIREC = #{codDirec,jdbcType=VARCHAR},
      COD_SUBDIREC = #{codSubdirec,jdbcType=VARCHAR},
      COD_DEPTO = #{codDepto,jdbcType=VARCHAR},
      OBS = #{obs,jdbcType=VARCHAR},
      OBJID_FOLDER = #{objidFolder,jdbcType=VARCHAR},
      OBJID_LEGAJO = #{objidLegajo,jdbcType=VARCHAR},
      CODBARRAS = #{codbarras,jdbcType=VARCHAR},
      COD_OFICINA_RECEPTORA = #{codOficinaReceptora,jdbcType=DECIMAL}
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SEC_LEGAJO = #{secLegajo,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </update>
</mapper>