<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.sagpat.persistence.mappers.PersonaDirecMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.sagpat.persistence.model.PersonaDirec" >
    <id column="COD_PERSONA" property="codPersona" jdbcType="DECIMAL" />
    <id column="SEC_DIRECCION" property="secDireccion" jdbcType="DECIMAL" />
    <result column="ROW_VERSION" property="rowVersion" jdbcType="DECIMAL" />
    <result column="DIR_CALLE" property="dirCalle" jdbcType="VARCHAR" />
    <result column="DIR_COLONIA" property="dirColonia" jdbcType="VARCHAR" />
    <result column="DIR_COD_POBLACION" property="dirCodPoblacion" jdbcType="VARCHAR" />
    <result column="DIR_POBLACION" property="dirPoblacion" jdbcType="VARCHAR" />
    <result column="COD_PAIS_RESID" property="codPaisResid" jdbcType="VARCHAR" />
    <result column="COD_ESTADO" property="codEstado" jdbcType="VARCHAR" />
    <result column="NOM_ESTADO" property="nomEstado" jdbcType="VARCHAR" />
    <result column="COD_POSTAL" property="codPostal" jdbcType="VARCHAR" />
    <result column="TELEFONO" property="telefono" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="E_MAIL" property="email" jdbcType="VARCHAR" />
  </resultMap>
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 'false' as QUERYID,
    COD_PERSONA, SEC_DIRECCION, ROW_VERSION, DIR_CALLE, DIR_COLONIA, DIR_COD_POBLACION, 
    DIR_POBLACION, COD_PAIS_RESID, COD_ESTADO, NOM_ESTADO, COD_POSTAL
    from PATENTES.PERSONA_DIREC
    where COD_PERSONA = #{codPersona,jdbcType=DECIMAL}
      and SEC_DIRECCION = #{secDireccion,jdbcType=DECIMAL}
  </select>  
   <select id="selectByCodPersona" resultMap="BaseResultMap" parameterType="map" >
    select COD_PERSONA, SEC_DIRECCION, ROW_VERSION, DIR_CALLE, DIR_COLONIA, DIR_COD_POBLACION, 
    DIR_POBLACION, COD_PAIS_RESID, COD_ESTADO, NOM_ESTADO, COD_POSTAL
    from PATENTES.PERSONA_DIREC
    where COD_PERSONA = #{codPersona,jdbcType=DECIMAL}           
  </select> 
   <select id="selectByCodPersonaDireccion" resultMap="BaseResultMap" parameterType="map" >
    SELECT COD_PERSONA, SEC_DIRECCION, ROW_VERSION, DIR_CALLE, DIR_COLONIA, DIR_COD_POBLACION, 
    DIR_POBLACION, COD_PAIS_RESID, COD_ESTADO, NOM_ESTADO, COD_POSTAL
    FROM PERSONA_DIREC
    WHERE COD_PERSONA =  #{codPersona,jdbcType=DECIMAL}
    AND SEC_DIRECCION = #{secDireccion,jdbcType=DECIMAL}
    AND trim(DIR_CALLE) = #{dirCalle,jdbcType=DECIMAL}
  </select>  
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from PATENTES.PERSONA_DIREC
    where COD_PERSONA = #{codPersona,jdbcType=DECIMAL}
      and SEC_DIRECCION = #{secDireccion,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="mx.gob.impi.sagpat.persistence.model.PersonaDirec" >
    insert into PATENTES.PERSONA_DIREC (COD_PERSONA, SEC_DIRECCION, ROW_VERSION, 
      DIR_CALLE, DIR_COLONIA, DIR_COD_POBLACION, 
      DIR_POBLACION, COD_PAIS_RESID, COD_ESTADO, 
      NOM_ESTADO, COD_POSTAL,TELEFONO, FAX, E_MAIL)
    values (#{codPersona,jdbcType=DECIMAL}, #{secDireccion,jdbcType=DECIMAL}, #{rowVersion,jdbcType=DECIMAL}, 
      #{dirCalle,jdbcType=VARCHAR}, #{dirColonia,jdbcType=VARCHAR}, #{dirCodPoblacion,jdbcType=VARCHAR}, 
      #{dirPoblacion,jdbcType=VARCHAR}, #{codPaisResid,jdbcType=VARCHAR}, #{codEstado,jdbcType=VARCHAR}, 
      #{nomEstado,jdbcType=VARCHAR}, #{codPostal,jdbcType=VARCHAR},#{telefono,jdbcType=VARCHAR},
      #{fax,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR}  )
  </insert>
  <insert id="insertSelective" parameterType="mx.gob.impi.sagpat.persistence.model.PersonaDirec" >
    insert into PATENTES.PERSONA_DIREC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codPersona != null" >
        COD_PERSONA,
      </if>
      <if test="secDireccion != null" >
        SEC_DIRECCION,
      </if>
      <if test="rowVersion != null" >
        ROW_VERSION,
      </if>
      <if test="dirCalle != null" >
        DIR_CALLE,
      </if>
      <if test="dirColonia != null" >
        DIR_COLONIA,
      </if>
      <if test="dirCodPoblacion != null" >
        DIR_COD_POBLACION,
      </if>
      <if test="dirPoblacion != null" >
        DIR_POBLACION,
      </if>
      <if test="codPaisResid != null" >
        COD_PAIS_RESID,
      </if>
      <if test="codEstado != null" >
        COD_ESTADO,
      </if>
      <if test="nomEstado != null" >
        NOM_ESTADO,
      </if>
      <if test="codPostal != null" >
        COD_POSTAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codPersona != null" >
        #{codPersona,jdbcType=DECIMAL},
      </if>
      <if test="secDireccion != null" >
        #{secDireccion,jdbcType=DECIMAL},
      </if>
      <if test="rowVersion != null" >
        #{rowVersion,jdbcType=DECIMAL},
      </if>
      <if test="dirCalle != null" >
        #{dirCalle,jdbcType=VARCHAR},
      </if>
      <if test="dirColonia != null" >
        #{dirColonia,jdbcType=VARCHAR},
      </if>
      <if test="dirCodPoblacion != null" >
        #{dirCodPoblacion,jdbcType=VARCHAR},
      </if>
      <if test="dirPoblacion != null" >
        #{dirPoblacion,jdbcType=VARCHAR},
      </if>
      <if test="codPaisResid != null" >
        #{codPaisResid,jdbcType=VARCHAR},
      </if>
      <if test="codEstado != null" >
        #{codEstado,jdbcType=VARCHAR},
      </if>
      <if test="nomEstado != null" >
        #{nomEstado,jdbcType=VARCHAR},
      </if>
      <if test="codPostal != null" >
        #{codPostal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.sagpat.persistence.model.PersonaDirec" >
    update PATENTES.PERSONA_DIREC
    <set >
      <if test="rowVersion != null" >
        ROW_VERSION = #{rowVersion,jdbcType=DECIMAL},
      </if>
      <if test="dirCalle != null" >
        DIR_CALLE = #{dirCalle,jdbcType=VARCHAR},
      </if>
      <if test="dirColonia != null" >
        DIR_COLONIA = #{dirColonia,jdbcType=VARCHAR},
      </if>
      <if test="dirCodPoblacion != null" >
        DIR_COD_POBLACION = #{dirCodPoblacion,jdbcType=VARCHAR},
      </if>
      <if test="dirPoblacion != null" >
        DIR_POBLACION = #{dirPoblacion,jdbcType=VARCHAR},
      </if>
      <if test="codPaisResid != null" >
        COD_PAIS_RESID = #{codPaisResid,jdbcType=VARCHAR},
      </if>
      <if test="codEstado != null" >
        COD_ESTADO = #{codEstado,jdbcType=VARCHAR},
      </if>
      <if test="nomEstado != null" >
        NOM_ESTADO = #{nomEstado,jdbcType=VARCHAR},
      </if>
      <if test="codPostal != null" >
        COD_POSTAL = #{codPostal,jdbcType=VARCHAR},
      </if>
    </set>
    where COD_PERSONA = #{codPersona,jdbcType=DECIMAL}
      and SEC_DIRECCION = #{secDireccion,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.sagpat.persistence.model.PersonaDirec" >
    update PATENTES.PERSONA_DIREC
    set ROW_VERSION = #{rowVersion,jdbcType=DECIMAL},
      DIR_CALLE = #{dirCalle,jdbcType=VARCHAR},
      DIR_COLONIA = #{dirColonia,jdbcType=VARCHAR},
      DIR_COD_POBLACION = #{dirCodPoblacion,jdbcType=VARCHAR},
      DIR_POBLACION = #{dirPoblacion,jdbcType=VARCHAR},
      COD_PAIS_RESID = #{codPaisResid,jdbcType=VARCHAR},
      COD_ESTADO = #{codEstado,jdbcType=VARCHAR},
      NOM_ESTADO = #{nomEstado,jdbcType=VARCHAR},
      COD_POSTAL = #{codPostal,jdbcType=VARCHAR}
    where COD_PERSONA = #{codPersona,jdbcType=DECIMAL}
      and SEC_DIRECCION = #{secDireccion,jdbcType=DECIMAL}
  </update>
</mapper>