<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.sagpat.persistence.mappers.SolicitudDibujosMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.sagpat.persistence.model.SolicitudDibujos" >
    <id column="COD_OFICINA" property="codOficina" jdbcType="VARCHAR" />
    <id column="NUM_EXPED" property="numExped" jdbcType="DECIMAL" />
    <id column="SEC_DIBUJOS" property="secDibujos" jdbcType="DECIMAL" />
    <id column="SER_EXPED" property="serExped" jdbcType="DECIMAL" />
    <id column="TIP_EXPED" property="tipExped" jdbcType="VARCHAR" />
    <result column="ROW_VERSION" property="rowVersion" jdbcType="DECIMAL" />
    <result column="NUM_CONCESION" property="numConcesion" jdbcType="DECIMAL" />
    <result column="FECHA_CARGA" property="fechaCarga" jdbcType="TIMESTAMP" />
    <result column="COD_GACETA" property="codGaceta" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="mx.gob.impi.sagpat.persistence.model.SolicitudDibujos" extends="BaseResultMap" >
    <result column="DIBUJO" property="dibujo" jdbcType="LONGVARCHAR" />
  </resultMap>
 <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 'false' as QUERYID,
     COD_OFICINA, NUM_EXPED, SEC_DIBUJOS, SER_EXPED, TIP_EXPED, ROW_VERSION, NUM_CONCESION, 
    FECHA_CARGA, COD_GACETA  ,  DIBUJO
    from PATENTES.SOLICITUD_DIBUJOS
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SEC_DIBUJOS = #{secDibujos,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </select>  
      <insert id="insert" parameterType="mx.gob.impi.sagpat.persistence.model.SolicitudDibujos" >
    insert into PATENTES.SOLICITUD_DIBUJOS (
    COD_OFICINA, NUM_EXPED, SEC_DIBUJOS, SER_EXPED, TIP_EXPED, ROW_VERSION, NUM_CONCESION, 
    FECHA_CARGA, COD_GACETA  ,  DIBUJO
      )
    values (#{codOficina,jdbcType=VARCHAR}, #{numExped,jdbcType=DECIMAL} ,#{secDibujos,jdbcType=DECIMAL}, #{serExped,jdbcType=DECIMAL}, #{tipExped,jdbcType=VARCHAR},
          #{rowVersion,jdbcType=VARCHAR}, #{numConcesion,jdbcType=VARCHAR},
          #{fechaCarga,jdbcType=VARCHAR}, #{codGaceta,jdbcType=VARCHAR}, #{dibujo,jdbcType=VARCHAR}    
      )
  </insert>
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from PATENTES.SOLICITUD_DIBUJOS
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SEC_DIBUJOS = #{secDibujos,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.sagpat.persistence.model.SolicitudDibujos" >
    update PATENTES.SOLICITUD_DIBUJOS
    <set >
      <if test="rowVersion != null" >
        ROW_VERSION = #{rowVersion,jdbcType=DECIMAL},
      </if>
      <if test="numConcesion != null" >
        NUM_CONCESION = #{numConcesion,jdbcType=DECIMAL},
      </if>
      <if test="fechaCarga != null" >
        FECHA_CARGA = #{fechaCarga,jdbcType=TIMESTAMP},
      </if>
      <if test="codGaceta != null" >
        COD_GACETA = #{codGaceta,jdbcType=VARCHAR},
      </if>
      <if test="dibujo != null" >
        DIBUJO = #{dibujo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SEC_DIBUJOS = #{secDibujos,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="mx.gob.impi.sagpat.persistence.model.SolicitudDibujos" >
    update PATENTES.SOLICITUD_DIBUJOS
    set ROW_VERSION = #{rowVersion,jdbcType=DECIMAL},
      NUM_CONCESION = #{numConcesion,jdbcType=DECIMAL},
      FECHA_CARGA = #{fechaCarga,jdbcType=TIMESTAMP},
      COD_GACETA = #{codGaceta,jdbcType=VARCHAR},
      DIBUJO = #{dibujo,jdbcType=LONGVARCHAR}
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SEC_DIBUJOS = #{secDibujos,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.sagpat.persistence.model.SolicitudDibujos" >
    update PATENTES.SOLICITUD_DIBUJOS
    set ROW_VERSION = #{rowVersion,jdbcType=DECIMAL},
      NUM_CONCESION = #{numConcesion,jdbcType=DECIMAL},
      FECHA_CARGA = #{fechaCarga,jdbcType=TIMESTAMP},
      COD_GACETA = #{codGaceta,jdbcType=VARCHAR}
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SEC_DIBUJOS = #{secDibujos,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </update>
</mapper>