<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.gob.impi.sagpat.persistence.mappers.SolicitudTituloUnicodeMapper" >
  <resultMap id="BaseResultMap" type="mx.gob.impi.sagpat.persistence.model.SolicitudTituloUnicode" >
    <id column="COD_OFICINA" property="codOficina" jdbcType="VARCHAR" />
    <id column="COD_PAIS" property="codPais" jdbcType="VARCHAR" />
    <id column="NUM_EXPED" property="numExped" jdbcType="DECIMAL" />
    <id column="SER_EXPED" property="serExped" jdbcType="DECIMAL" />
    <id column="TIP_EXPED" property="tipExped" jdbcType="VARCHAR" />
    <result column="ROW_VERSION" property="rowVersion" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="mx.gob.impi.sagpat.persistence.model.SolicitudTituloUnicode" extends="BaseResultMap" >
    <result column="TITULO_UNICODE" property="tituloUnicode" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 'false' as QUERYID,
    COD_OFICINA, COD_PAIS, NUM_EXPED, SER_EXPED, TIP_EXPED, ROW_VERSION,TITULO_UNICODE
    from PATENTES.SOLICITUD_TITULO_UNICODE
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and COD_PAIS = #{codPais,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </select>
  
   <insert id="insert" parameterType="mx.gob.impi.sagpat.persistence.model.SolicitudTituloUnicode" >
    insert into PATENTES.SOLICITUD_TITULO_UNICODE(
        COD_OFICINA, COD_PAIS, NUM_EXPED, SER_EXPED, TIP_EXPED, ROW_VERSION,TITULO_UNICODE
      )
    values (
     #{codOficina,jdbcType=VARCHAR}, #{codPais,jdbcType=VARCHAR}, #{numExped,jdbcType=DECIMAL} ,#{serExped,jdbcType=DECIMAL},
       #{tipExped,jdbcType=VARCHAR}, #{rowVersion,jdbcType=DECIMAL}, #{tituloUnicode,jdbcType=VARCHAR}       
      )
  </insert> 
  
  
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from PATENTES.SOLICITUD_TITULO_UNICODE
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and COD_PAIS = #{codPais,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="mx.gob.impi.sagpat.persistence.model.SolicitudTituloUnicode" >
    update PATENTES.SOLICITUD_TITULO_UNICODE
    <set >
      <if test="rowVersion != null" >
        ROW_VERSION = #{rowVersion,jdbcType=DECIMAL},
      </if>
      <if test="tituloUnicode != null" >
        TITULO_UNICODE = #{tituloUnicode,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and COD_PAIS = #{codPais,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="mx.gob.impi.sagpat.persistence.model.SolicitudTituloUnicode" >
    update PATENTES.SOLICITUD_TITULO_UNICODE
    set ROW_VERSION = #{rowVersion,jdbcType=DECIMAL},
      TITULO_UNICODE = #{tituloUnicode,jdbcType=LONGVARCHAR}
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and COD_PAIS = #{codPais,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.gob.impi.sagpat.persistence.model.SolicitudTituloUnicode" >
    update PATENTES.SOLICITUD_TITULO_UNICODE
    set ROW_VERSION = #{rowVersion,jdbcType=DECIMAL}
    where COD_OFICINA = #{codOficina,jdbcType=VARCHAR}
      and COD_PAIS = #{codPais,jdbcType=VARCHAR}
      and NUM_EXPED = #{numExped,jdbcType=DECIMAL}
      and SER_EXPED = #{serExped,jdbcType=DECIMAL}
      and TIP_EXPED = #{tipExped,jdbcType=VARCHAR}
  </update>
</mapper>